{% extends "base.html" %}

{% block title %}Request History{% endblock %}

{% block content %}

<h2 class="mb-4">
    API Request History
</h2>

<div class="d-flex justify-content-between align-items-center mb-4">

<form method="GET"
      class="d-flex"
      style="width: 70%;">

    <input
        type="text"
        name="search"
        class="form-control me-2"
        placeholder="🔍 Search endpoint..."
        value="{{ search }}"
    >

    <button
        type="submit"
        class="btn btn-primary me-2">
        Search
    </button>

    <a href="/requests"
       class="btn btn-secondary">
        Reset
    </a>

</form>

<a href="/export_logs"
   class="btn btn-success">
    Export CSV
</a>

</div>

<div class="card shadow">

<div class="card-body">

    <div class="alert alert-info">

        Showing
        <strong>{{ logs|length }}</strong>
        log entries

    </div>

    {% if logs %}

    <table class="table table-striped table-bordered align-middle">

        <thead class="table-dark">

            <tr>
                <th>Endpoint</th>
                <th>Request Time</th>
                <th>Response Time (ms)</th>
                <th>Status Code</th>
            </tr>

        </thead>

        <tbody>

            {% for log in logs %}

            <tr>

                <td>
                    {{ log[0] }}
                </td>

                <td>
                    {{ log[1] }}
                </td>

                <td>
                    {{ log[2] }}
                </td>

                <td>

                    {% if log[3] == 200 %}

                        <span class="badge bg-success">
                            {{ log[3] }}
                        </span>

                    {% else %}

                        <span class="badge bg-danger">
                            {{ log[3] }}
                        </span>

                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    {% else %}

    <div class="alert alert-warning">

        No API requests found.

    </div>

    {% endif %}

</div>

</div>

{% endblock %}
